/* Brand color palette============= */
:root {
    --primary: rgba(68, 88, 119, 0.8);
    --secondary: rgba(231, 139, 188, 0.9);
    --tertiary: rgba(49, 52, 61, 1);
    --dark: rgba(28, 29, 33, 1);
    --light: rgba(238, 238, 247, 1);
  }  

/* Navigation bar ============= */
#mainNav {
  background-color: var(--primary);
} 

#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
  color: var(--secondary);
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: var(--light);
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: var(--secondary);
}

/* Hero section ============= */

/* Jumbotron */
.jumbotron {
    background-image: url(../images/beata2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    background-color: var(--secondary);
    height: calc(75vh - 25px);
    display: flex;
    align-items: flex-end;
  }

  /* Jumbotron copy */
  .jumboCopy {
    background-color: var(--secondary);
    }

  /* Skills section ============= */
  #skill {
    padding-top: 1em;
  }

  #skill-icon {
    margin-top: 2em;
  }

  /* Projects section ============= */
  #work-image {
  max-width: fit-content;
  }

  #work-button {
    background-color: var(--secondary);
    border-color: var(--light);
  }

  .card-footer a:hover {
    background-size: 100% 100%;
    color: var(--primary);
  }

  /* About section ============= */
  #about {
    background-color: var(--secondary);
  }

  /* Footer section ============= */
  footer {
    padding-top: 1em;
  }
  #footer-icon {
    color: var(--primary);
  }

  #copyright {
    padding-top: 1em;
  }

